# Modelo predictivo. Aplicaci√≥n usuario (modelado de datos) ‚úãüèª

*Elaboraci√≥n de un modelo predictivo para la variable Attrition.Modelado de los datos en base a su importanci relativa para acomodar la elecci√≥n e introducci√≥n de los datos por parte del usuario. Exportaci√≥n del modelo para uso de usuario.*

## √çndice üìé

1. Exportaci√≥n de librer√≠as
2. Importaci√≥n de los datos
3. Modelado de los datos
5. Exportaci√≥n de los datos

## 1. Exportaci√≥n de librerias üìö

In [14]:
import pandas as pd
import numpy as np

## 2. Importaci√≥n de los datos üìâ

In [2]:
data = pd.read_csv("Data/Attrition_modeldata.csv")
data.drop("Unnamed: 0",axis=1, inplace=True)

In [3]:
data.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,...,PerformanceRating,RelationshipSatisfaction,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,...,3,1,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,...,4,4,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,...,3,2,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,...,3,3,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,...,3,4,1,6,3,3,2,2,2,2

In [4]:
data.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'DailyRate', 'Department',
       'DistanceFromHome', 'Education', 'EducationField',
       'EnvironmentSatisfaction', 'Gender', 'HourlyRate', 'JobInvolvement',
       'JobLevel', 'JobRole', 'JobSatisfaction', 'MaritalStatus',
       'MonthlyIncome', 'MonthlyRate', 'NumCompaniesWorked', 'OverTime',
       'PercentSalaryHike', 'PerformanceRating', 'RelationshipSatisfaction',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'WorkLifeBalance', 'YearsAtCompany', 'YearsInCurrentRole',
       'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

## 3. Modelado de los datos ü§ó

*Partiremos del modelo Random Forest ya que en el anterior notebook (2.Modelo predictivo.Attririon) conclu√≠amos que era el que nos aportaba mayor fiabilidad y exhaustividad.*

Teniendo en cuenta la importancia de cada variable a la hora de predecir el modelo procederemos a eliminar las columnas que menos influyen o afectan a tal predicci√≥n de cara a reducir los campos que el usuario/cliente final deber√° rellenar en la web para predecir la posibilidad o √≠ndice de deserci√≥n de su plantilla.

In [5]:
data2 = data

In [6]:
data2.drop(["EducationField","DailyRate","HourlyRate","MonthlyRate","YearsSinceLastPromotion","YearsWithCurrManager","TotalWorkingYears","JobInvolvement","PerformanceRating","JobLevel","JobInvolvement","TrainingTimesLastYear","StockOptionLevel"], axis=1,inplace=True)

In [7]:
data2.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EnvironmentSatisfaction', 'Gender', 'JobRole',
       'JobSatisfaction', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'OverTime', 'PercentSalaryHike',
       'RelationshipSatisfaction', 'WorkLifeBalance', 'YearsAtCompany',
       'YearsInCurrentRole'],
      dtype='object')

Antes de dise√±ar el modelo predictivo convertiremos algunas columnas "manualmente" de n√∫merica a categ√≥rica (para el caso de aquellas que dispongan de pocos valores √∫nicos), mientras que para el resto lo realizaremos mediante get dummies.

*Para ver m√°s detalle del proceso v√©ase el jupyter notebook:  "2. Modelo predictivo.Attrition"*

- Attrition

In [8]:
valores= {"Yes":1, "No":0} #definimos los nuevos valores
data2["Attrition"] = data2["Attrition"].apply(lambda x: valores[x]) #reestablecemos los valores

- Gender

In [9]:
valores2= {"Female":1, "Male":0} #definimos los nuevos valores
data2["Gender"] = data2["Gender"].apply(lambda x: valores2[x]) #reestablecemos los valores

- OverTime

In [10]:
valores3= {"Yes":1, "No":0} #definimos los nuevos valores
data2["OverTime"] = data2["OverTime"].apply(lambda x: valores3[x]) #reestablecemos los valores

In [11]:
data2.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EnvironmentSatisfaction,Gender,JobRole,JobSatisfaction,MaritalStatus,MonthlyIncome,NumCompaniesWorked,OverTime,PercentSalaryHike,RelationshipSatisfaction,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole
0,41,1,Travel_Rarely,Sales,1,2,2,1,Sales Executive,4,Single,5993,8,1,11,1,1,6,4
1,49,0,Travel_Frequently,Research & Development,8,1,3,0,Research Scientist,2,Married,5130,1,0,23,4,3,10,7
2,37,1,Travel_Rarely,Research & Development,2,2,4,0,Laboratory Technician,3,Single,2090,6,1,15,2,3,0,0
3,33,0,Travel_Frequently,Research & Development,3,4,4,1,Research Scientist,3,Married,2909,1,1,11,3,3,8,7
4,27,0,Travel_Rarely,Research & Development,2,1,1,0,Laboratory Technician,2,Married,3468,9,0,12,4,3,2,2

- Resto de valores

## 4. Exportaci√≥n del modelo y los datos üöÄ

In [13]:
#exportaci√≥n de los nuevos datos
data2.to_csv("Data/Usuario.csv")